<mat-toolbar>
  <mat-icon>error</mat-icon>
  <h1 mat-dialog-title>Błąd zmiany hasła</h1>
</mat-toolbar>
<mat-card>
  <div mat-dialog-content>
    <p>Próba zmiany hasła zakończyła się niepowodzeniem.</p>
    <p>Oto możliwe przyczyny:</p>
    <ol>
      <li>Hasło nie zostało wprowadzone.</li>
      <li>Hasło zostało wprowadzone w nieprawidłowym formacie.</li>
      <li>Wprowadzone hasła różnią się.</li>
    </ol>
    <p>
      Aby zmienić hasło, użytkownik musi być niedawno zalogowany.
      Wyloguj się, następnie zaloguj ponownie i spróbuj zmienić hasło.
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="closeDialog()">OK</button>
  </div>
</mat-card>
