<mat-toolbar>
  <mat-icon>warning</mat-icon>
  <h1 mat-dialog-title>Zmiana hasła</h1>
</mat-toolbar>
<mat-card>
  <div mat-dialog-content>
    <form class="change-password-form" #changePasswordForm="ngForm">
      <mat-form-field class="field-width">
        <input matInput name="newPassword" type="password" placeholder="Nowe hasło" [type]="hide ? 'password' : 'text'" [(ngModel)]="userData.newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #newPassword="ngModel" required>
        <mat-icon class="password-visibility" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="changePasswordForm.getControl(newPassword)?.invalid">Hasło musi zawierać co najmniej jedną cyfrę, wielką i małą literę oraz co najmniej 8 znaków.</mat-error>
      </mat-form-field>
      <mat-form-field class="field-width">
        <input matInput name="confirmNewPassword" type="password" placeholder="Powtórz nowe hasło" [type]="hide ? 'password' : 'text'" [(ngModel)]="userData.confirmNewPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #confirmNewPassword="ngModel" required>
        <mat-icon class="password-visibility" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="changePasswordForm.getControl(confirmNewPassword)?.invalid">Hasło musi zawierać co najmniej jedną cyfrę, wielką i małą literę oraz co najmniej 8 znaków.</mat-error>
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="changePassword()" cdkFocusInitial>OK</button>
        <button mat-raised-button color="primary" (click)="closeDialog()">Anuluj</button>
      </div>
    </form>
  </div>
</mat-card>
